<!DOCTYPE html>
<html lang="EN">
    <head>
        <title>Yelpcamp</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/style.css">
    </head>
    <body>
                
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">YelpCamp</a> 
            <a class="navbar-brand" href="/campgrounds">View campgrounds</a> 
            <div class="collapse navbar-collapse justify-content-end">
                <ul class="navbar-nav flex-row">
                    <% if(!currentUser){ %>
                        <li class="navbar-item">
                            <a class="nav-link" href="/login">Login</a>
                        </li>
                        <li class="navbar-item">
                            <a class="nav-link" href="/register">Sign up</a>
                        </li>
                    <% } else { %>
                    <li class="navbar-item">
                        <a class="nav-link" href="#">Logged as <b><%= currentUser.username %></b></a>
                    </li>
                    <li class="navbar-item">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
                    <% } %>
                </ul>
            </div>
        </nav>
        <div class="container mt-3">
            <% if(success && success.length > 0) { %>
                <div class="alert alert-success" role="alert">
                    <%= success%>
                </div>
            <% } %>
            
            <% if(error && error.length > 0) { %>
                <div class="alert alert-warning" role="alert">
                    <%= error %>
                </div>
                <% } %>
        </div>
        <div class="container">
